In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import datetime
import json 
from scipy import stats
from scipy.stats import linregress
from config import weather_api_key
#from config import g_key
from citipy import citipy
csvfile = "Buoy Stations - Sheet1.csv"

In [3]:
buoy_df_raw = pd.read_csv(csvfile)
buoy_df = buoy_df_raw.dropna()
buoy_df.head()

    Buoy     Lat    Long
0  42002  26.055 -93.646
1  42003  25.925 -85.615
2   khhv  26.939 -94.689
3   kemk  27.819 -94.323
4  42019  27.910 -95.345

In [4]:
lat_val = []
lng_val = []
for index,row in buoy_df.iterrows():
    lat_val.append(row["Lat"])
    lng_val.append(row["Long"])

In [5]:
#set function to get today and previous 4 days' weather data
def unix_time():
    today = datetime.date.today()
    days = [1,2,3,4]
    times = [int(time.mktime(today.timetuple()))]
    for day in days:
        x=today - datetime.timedelta(days=day)
        unixtime = int(time.mktime(x.timetuple()))
        times.append(unixtime)
    return (times)

In [6]:
#lists for buoy data dataframe
hour_temp =[]
hour_pressure =[]
hour_wind_speed =[]
hour_wind_deg =[]
hour_time=[]
hour_lat=[]
hour_lng = []

In [7]:
for lat in range(len(lat_val)):
    for x in unix_time():
            historical_url = f"http://api.openweathermap.org/data/2.5/onecall/timemachine?lat={lat_val[lat]}&lon={lng_val[lat]}&dt={x}&appid={weather_api_key}&units=imperial"
            hist_json = requests.get(historical_url).json()
            for i in range((len(hist_json["hourly"]))):
                hour_temp.append(hist_json["hourly"][i]["temp"])
                hour_pressure.append(hist_json["hourly"][i]["pressure"])
                hour_wind_speed.append(hist_json["hourly"][i]["wind_speed"])
                hour_wind_deg.append(hist_json["hourly"][i]["wind_deg"])
                hour_time.append(hist_json["hourly"][i]["dt"])
                hour_lat.append(hist_json["lat"])
                hour_lng.append(hist_json["lon"])

In [8]:
buoy_dict = {"Lat":hour_lat,
            "Long":hour_lng,
            "Temp":hour_temp,
            "Pressure":hour_pressure,
            "Wind_Speed":hour_wind_speed,
            "Wind_Degrees":hour_wind_deg,
            "Unix Time":hour_time}
buoy_output_data = pd.DataFrame(buoy_dict)
buoy_output_data

         Lat    Long   Temp  Pressure  Wind_Speed  Wind_Degrees   Unix Time
0     26.055 -93.646  85.24      1012        7.74            57  1630972800
1     26.055 -93.646  85.05      1012        8.48            68  1630976400
2     26.055 -93.646  84.97      1012       10.02            88  1630980000
3     26.055 -93.646  84.72      1012       11.48            98  1630983600
4     26.055 -93.646  84.61      1013       11.70           107  1630987200
...      ...     ...    ...       ...         ...           ...         ...
4177  21.030 -64.790  83.68      1015       13.94            88  1630695600
4178  21.030 -64.790  83.77      1015       14.29            86  1630699200
4179  21.030 -64.790  83.66      1015       14.23            86  1630702800
4180  21.030 -64.790  83.46      1015       14.81            88  1630706400
4181  21.030 -64.790  83.62      1016       15.14            89  1630710000

[4182 rows x 7 columns]

In [10]:
buoy_output_data.to_csv("./CSV_Output/buoy_data.csv", index=False)

In [11]:
#set "cit center" for Houston
Houston_lat = 29.756097853207656
Houston_lng = -95.3669907972107


#calculate greater Houston area by expanding lat and lng
lat = np.random.uniform(Houston_lat-1, Houston_lat+2, size=6500)
lng = np.random.uniform(Houston_lng-5, Houston_lng+2, size=6500)
city = []

#find nearest city using lat and lng
for x in range(len(lat)):
    city.append(citipy.nearest_city(lat[x], lng[x]).city_name)

In [12]:
#turn cities into df
df_city = pd.DataFrame({
    "City":city,
    "lat":lat,
    "lng":lng,
})

In [13]:
df_city

             City        lat        lng
0      pleasanton  28.812243 -98.362049
1      san marcos  29.888017 -98.096127
2         lakeway  30.575493 -98.110616
3     port arthur  29.218479 -93.971826
4      san angelo  31.052974 -99.887405
...           ...        ...        ...
6495     bellmead  31.656696 -96.903954
6496        hondo  28.937761 -99.242112
6497      woodway  31.613604 -97.339971
6498  port arthur  29.672730 -94.108533
6499      brenham  29.789779 -96.371327

[6500 rows x 3 columns]

In [14]:
#check length of cities
# len(list(df_city["City"].unique()))

In [15]:
cities = list(df_city["City"].unique())
target_cities=[]

for i in cities:
    c=str(i).replace(" ","+")
    target_cities.append(c)

In [16]:
#set base url and define function to find OpenWeather cities' based on city name from nearest place API and feed back into
#OpenWeather one call API to ensure proper lat and lng

def find_location(target_cities):
    unix_time()
    base_current_url = "http://api.openweathermap.org/data/2.5/weather?"
    hour_temp_city =[]
    hour_pressure_city =[]
    hour_wind_speed_city =[]
    hour_wind_deg_city=[]
    hour_time_city=[]
    city_name=[]
    for city in target_cities:
        try: 
            query_url=f"{base_current_url}appid={weather_api_key}&q={city},Texas,USA&units=imperial"
            req = requests.get(query_url)
            response1=req.json()
            latitude=response1["coord"]["lat"]
            longitude=response1["coord"]["lon"]

        except:
            print("City not found. Skipping...")
            pass
        if response1["sys"]["country"]=="US":
            for x in unix_time():
                historical_url = f"http://api.openweathermap.org/data/2.5/onecall/timemachine?lat={latitude}&lon={longitude}&dt={x}&appid={weather_api_key}&units=imperial"
                hist_json = requests.get(historical_url).json()
                for i in range(len(hist_json["hourly"])):
                    hour_temp_city.append(hist_json["hourly"][i]["temp"])
                    hour_pressure_city.append(hist_json["hourly"][i]["pressure"])
                    hour_wind_speed_city.append(hist_json["hourly"][i]["wind_speed"])
                    hour_wind_deg_city.append(hist_json["hourly"][i]["wind_deg"])
                    hour_time_city.append(hist_json["hourly"][i]["dt"])
                    city_name.append(response1["name"])
                
    d=dict()
    d["City Name"] = city_name
    d["Temperature"] = hour_temp_city
    d["Pressure"] = hour_pressure_city
    d["Wind Degrees"]=hour_wind_deg_city
    d["Wind_Speed"] = hour_wind_speed_city
    return(d)

In [44]:
df2 =pd.DataFrame(find_location(target_cities))

In [45]:
df2

         City Name  Temperature  Pressure  Wind Degrees  Wind_Speed
0      Port Arthur        86.67      1012           210        6.91
1      Port Arthur        84.22      1012           210        5.75
2      Port Arthur        83.43      1013           200        5.75
3      Port Arthur        81.61      1013           230        3.44
4      Port Arthur        80.49      1013           220        4.61
...            ...          ...       ...           ...         ...
11459     Pasadena        70.93      1012             0        0.00
11460     Pasadena        72.32      1012             0        0.00
11461     Pasadena        73.06      1012             0        3.44
11462     Pasadena        74.37      1012             0        0.00
11463     Pasadena        76.98      1010           155        5.01

[11464 rows x 5 columns]

In [46]:
df2.to_csv("./CSV_Output/city_data.csv", index=False)

In [28]:
buoy_output_data["Storm_Category"] = ["NA" if x <=40 else "TS" if x <=55 else "LS" if x <=70 else "HU" for x in buoy_output_data["Wind_Speed"]]
buoy_output_data["Storm_Category_P"] = ["NA" if x >=1008 else "TS" if x >=990 else "LS" if x >=950 else "HU" for x in buoy_output_data["Pressure"]]
buoy_output_data

,Lat,Long,Temp,Pressure,Wind_Speed,Wind_Degrees,Unix Time,Storm_Category,Storm_Category_P
0,26.055,-93.646,85.24,1012,7.74,57,1630972800,NA,NA
1,26.055,-93.646,85.05,1012,8.48,68,1630976400,NA,NA
2,26.055,-93.646,84.97,1012,10.02,88,1630980000,NA,NA
3,26.055,-93.646,84.72,1012,11.48,98,1630983600,NA,NA
4,26.055,-93.646,84.61,1013,11.70,107,1630987200,NA,NA
...,...,...,...,...,...,...,...,...,...
4177,21.030,-64.790,83.68,1015,13.94,88,1630695600,NA,NA
4178,21.030,-64.790,83.77,1015,14.29,86,1630699200,NA,NA
4179,21.030,-64.790,83.66,1015,14.23,86,1630702800,NA,NA
4180,21.030,-64.790,83.46,1015,14.81,88,1630706400,NA,NA
4181,21.030,-64.790,83.62,1016,15.14,89,1630710000,NA,NA

In [30]:
city_df2 = pd.read_csv("CSV_Output/city_data.csv")
city_df2

         City Name  Temperature  Pressure  Wind Degrees  Wind_Speed
0      Port Arthur        86.67      1012           210        6.91
1      Port Arthur        84.22      1012           210        5.75
2      Port Arthur        83.43      1013           200        5.75
3      Port Arthur        81.61      1013           230        3.44
4      Port Arthur        80.49      1013           220        4.61
...            ...          ...       ...           ...         ...
11459     Pasadena        70.93      1012             0        0.00
11460     Pasadena        72.32      1012             0        0.00
11461     Pasadena        73.06      1012             0        3.44
11462     Pasadena        74.37      1012             0        0.00
11463     Pasadena        76.98      1010           155        5.01

[11464 rows x 5 columns]

In [31]:
city_df2["Storm_Category"] = ["NA" if x <=40 else "TS" if x <=55 else "LS" if x <=70 else "HU" for x in city_df2["Wind_Speed"]]
city_df2["Storm_Category_P"] = ["NA" if x >=1008 else "TS" if x >=990 else "LS" if x >=950 else "HU" for x in city_df2["Pressure"]]
city_df2

,City Name,Temperature,Pressure,Wind Degrees,Wind_Speed,Storm_Category,Storm_Category_P
0,Port Arthur,86.67,1012,210,6.91,NA,NA
1,Port Arthur,84.22,1012,210,5.75,NA,NA
2,Port Arthur,83.43,1013,200,5.75,NA,NA
3,Port Arthur,81.61,1013,230,3.44,NA,NA
4,Port Arthur,80.49,1013,220,4.61,NA,NA
...,...,...,...,...,...,...,...
11459,Pasadena,70.93,1012,0,0.00,NA,NA
11460,Pasadena,72.32,1012,0,0.00,NA,NA
11461,Pasadena,73.06,1012,0,3.44,NA,NA
11462,Pasadena,74.37,1012,0,0.00,NA,NA
11463,Pasadena,76.98,1010,155,5.01,NA,NA