In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import datetime
from scipy import stats
from scipy.stats import linregress
from config import weather_api_key
#from config import g_key
from citipy import citipy
import csv as atlantic_working

In [3]:
# Import API key
from config import weather_api_key

In [4]:
# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

In [8]:
awdf = pd.read_csv('atlantic working.csv')
awdf['Latitude'].head()
awdf['Longitude'].head()

0    94.8W
1    95.4W
2    96.0W
3    96.5W
4    96.8W
Name: Longitude, dtype: object

In [9]:
#set "city center" for Houston
Houston_lat = 29.756097853207656
Houston_lng = -95.3669907972107


#calculate greater Houston area by expanding lat and lng
lat = np.random.uniform(Houston_lat-1, Houston_lat+2, size=6500)
lng = np.random.uniform(Houston_lng-5, Houston_lng+2, size=6500)
city = []

#find nearest city using lat and lng
for x in range(len(lat)):
    city.append(citipy.nearest_city(lat[x], lng[x]).city_name)

In [10]:
#turn cities into df
df_city = pd.DataFrame({
    "City":city,
    "lat":lat,
    "lng":lng,
})

In [11]:
awdf['Latitude']=df_city['lat']
awdf['Longitude']=df_city['lng']
df_city.count()

City    6500
lat     6500
lng     6500
dtype: int64

In [12]:
awdf.head()

,ID,Name,Year,Month,Date,Hour,Event,Status,Latitude,Longitude,...,A low that is neither of the 3 cyclone variantsw Wind SW,A low that is neither of the 3 cyclone variantsw Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,AL011851,UNNAMED,1851,6,25,0,,Hurricane Intensity > 64 knoTropical Storm 34...,30.029916,-98.456461,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,AL011851,UNNAMED,1851,6,25,600,,Hurricane Intensity > 64 knoTropical Storm 34...,29.713713,-95.953724,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,AL011851,UNNAMED,1851,6,25,1200,,Hurricane Intensity > 64 knoTropical Storm 34...,29.188570,-97.359426,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,AL011851,UNNAMED,1851,6,25,1800,,Hurricane Intensity > 64 knoTropical Storm 34...,31.290828,-94.969133,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,AL011851,UNNAMED,1851,6,25,2100,Landfall,Hurricane Intensity > 64 knoTropical Storm 34...,29.468151,-98.047205,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999