In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import datetime
from scipy import stats
from scipy.stats import linregress
from config import weather_api_key
#from config import g_key
from citipy import citipy
import csv as atlantic_working

In [3]:
# Import API key
from config import weather_api_key

In [4]:
# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

In [5]:
awdf = pd.read_csv('atlantic macro.csv')

In [6]:
awdf

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum PreLow Intensity Subtropical Cycloneure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,AL011851,UNNAMED,18510625,0,,Hurricane,28.0N,94.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,AL011851,UNNAMED,18510625,600,,Hurricane,28.0N,95.4W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,AL011851,UNNAMED,18510625,1200,,Hurricane,28.0N,96.0W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,AL011851,UNNAMED,18510625,1800,,Hurricane,28.1N,96.5W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,AL011851,UNNAMED,18510625,2100,Landfall,Hurricane,28.2N,96.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49100,AL122015,KATE,20151112,1200,,Extratropical Cyclone,41.3N,50.4W,55,981,...,180,120,120,120,60,0,0,0,0,0
49101,AL122015,KATE,20151112,1800,,Extratropical Cyclone,41.9N,49.9W,55,983,...,180,120,120,120,60,0,0,0,0,0
49102,AL122015,KATE,20151113,0,,Extratropical Cyclone,41.5N,49.2W,50,985,...,200,220,120,120,60,0,0,0,0,0
49103,AL122015,KATE,20151113,600,,Extratropical Cyclone,40.8N,47.5W,45,985,...,180,220,0,0,0,0,0,0,0,0
49104,AL122015,KATE,20151113,1200,,Extratropical Cyclone,40.7N,45.4W,45,987,...,150,220,0,0,0,0,0,0,0,0

In [7]:
df1 = awdf.copy()
df1

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum PreLow Intensity Subtropical Cycloneure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,AL011851,UNNAMED,18510625,0,,Hurricane,28.0N,94.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,AL011851,UNNAMED,18510625,600,,Hurricane,28.0N,95.4W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,AL011851,UNNAMED,18510625,1200,,Hurricane,28.0N,96.0W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,AL011851,UNNAMED,18510625,1800,,Hurricane,28.1N,96.5W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,AL011851,UNNAMED,18510625,2100,Landfall,Hurricane,28.2N,96.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49100,AL122015,KATE,20151112,1200,,Extratropical Cyclone,41.3N,50.4W,55,981,...,180,120,120,120,60,0,0,0,0,0
49101,AL122015,KATE,20151112,1800,,Extratropical Cyclone,41.9N,49.9W,55,983,...,180,120,120,120,60,0,0,0,0,0
49102,AL122015,KATE,20151113,0,,Extratropical Cyclone,41.5N,49.2W,50,985,...,200,220,120,120,60,0,0,0,0,0
49103,AL122015,KATE,20151113,600,,Extratropical Cyclone,40.8N,47.5W,45,985,...,180,220,0,0,0,0,0,0,0,0
49104,AL122015,KATE,20151113,1200,,Extratropical Cyclone,40.7N,45.4W,45,987,...,150,220,0,0,0,0,0,0,0,0

In [8]:
lat=df1["Latitude"].to_string()
lat = df1.loc[:, "Latitude"]
lat = lat.str.replace('N', "")
df1.loc[:,'Latitude'] = lat.astype('float')

In [9]:
lng=df1["Longitude"].to_string()
lng = df1.loc[:, "Longitude"]
lng = lng.str.replace('W|E', "")
df1.loc[:,'Longitude'] = lng.astype('float') * -1

#print(lng)

C:\Users\George\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

In [11]:
#df1

In [ ]:
# #set "city center" for Houston
# Houston_lat = 29.756097853207656
# Houston_lng = -95.3669907972107

# #calculate greater Houston area by expanding lat and lng
# lat = np.random.uniform(Houston_lat-1, Houston_lat+2, size=6500)
# lng = np.random.uniform(Houston_lng-5, Houston_lng+2, size=6500)

In [12]:
filtered_lat_lng = df1[(df1["Latitude"]<=29) & (df1["Latitude"]>=18) & (df1["Longitude"]>=-100) & (df1["Longitude"]<=-83)]
filtered_lat_lng

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum PreLow Intensity Subtropical Cycloneure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,AL011851,UNNAMED,18510625,0,,Hurricane,28.0,-94.8,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,AL011851,UNNAMED,18510625,600,,Hurricane,28.0,-95.4,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,AL011851,UNNAMED,18510625,1200,,Hurricane,28.0,-96.0,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,AL011851,UNNAMED,18510625,1800,,Hurricane,28.1,-96.5,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,AL011851,UNNAMED,18510625,2100,Landfall,Hurricane,28.2,-96.8,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48794,AL022015,BILL,20150616,0,,Tropical Storm,27.0,-94.3,45,1005,...,0,0,0,0,0,0,0,0,0,0
48795,AL022015,BILL,20150616,600,,Tropical Storm,27.6,-95.2,45,1001,...,0,0,0,0,0,0,0,0,0,0
48796,AL022015,BILL,20150616,1200,,Tropical Storm,28.0,-96.0,50,997,...,0,30,20,20,0,0,0,0,0,0
48797,AL022015,BILL,20150616,1645,Landfall,Tropical Storm,28.2,-96.7,50,997,...,0,30,20,20,0,0,0,0,0,0
48798,AL022015,BILL,20150616,1800,,Tropical Storm,28.2,-96.7,50,997,...,0,30,20,20,0,0,0,0,0,0

In [13]:
filt_df=filtered_lat_lng.rename(columns={"Minimum PreLow Intensity Subtropical Cycloneure":"Minimum Pressure"})

In [14]:
filt_df

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,AL011851,UNNAMED,18510625,0,,Hurricane,28.0,-94.8,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,AL011851,UNNAMED,18510625,600,,Hurricane,28.0,-95.4,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,AL011851,UNNAMED,18510625,1200,,Hurricane,28.0,-96.0,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,AL011851,UNNAMED,18510625,1800,,Hurricane,28.1,-96.5,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,AL011851,UNNAMED,18510625,2100,Landfall,Hurricane,28.2,-96.8,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48794,AL022015,BILL,20150616,0,,Tropical Storm,27.0,-94.3,45,1005,...,0,0,0,0,0,0,0,0,0,0
48795,AL022015,BILL,20150616,600,,Tropical Storm,27.6,-95.2,45,1001,...,0,0,0,0,0,0,0,0,0,0
48796,AL022015,BILL,20150616,1200,,Tropical Storm,28.0,-96.0,50,997,...,0,30,20,20,0,0,0,0,0,0
48797,AL022015,BILL,20150616,1645,Landfall,Tropical Storm,28.2,-96.7,50,997,...,0,30,20,20,0,0,0,0,0,0
48798,AL022015,BILL,20150616,1800,,Tropical Storm,28.2,-96.7,50,997,...,0,30,20,20,0,0,0,0,0,0

In [15]:
filt_df2 = filt_df[(filt_df["Minimum Pressure"]>=0)]
filt_df2

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
1981,AL011871,UNNAMED,18710604,600,,Tropical Storm,28.9,-95.0,50,999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3825,AL021880,UNNAMED,18800813,0,,Hurricane,25.7,-96.9,130,931,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3826,AL021880,UNNAMED,18800813,100,Landfall,Hurricane,25.8,-97.0,130,931,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3827,AL021880,UNNAMED,18800813,600,,Hurricane,26.1,-97.6,110,943,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4275,AL021882,UNNAMED,18820907,0,,Hurricane,22.6,-85.8,80,981,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48794,AL022015,BILL,20150616,0,,Tropical Storm,27.0,-94.3,45,1005,...,0,0,0,0,0,0,0,0,0,0
48795,AL022015,BILL,20150616,600,,Tropical Storm,27.6,-95.2,45,1001,...,0,0,0,0,0,0,0,0,0,0
48796,AL022015,BILL,20150616,1200,,Tropical Storm,28.0,-96.0,50,997,...,0,30,20,20,0,0,0,0,0,0
48797,AL022015,BILL,20150616,1645,Landfall,Tropical Storm,28.2,-96.7,50,997,...,0,30,20,20,0,0,0,0,0,0
48798,AL022015,BILL,20150616,1800,,Tropical Storm,28.2,-96.7,50,997,...,0,30,20,20,0,0,0,0,0,0

In [16]:
def knots_to_mph(x):
     return x*1.15078

filt_df2["Max_Wind"]=filt_df2["Maximum Wind"].apply(knots_to_mph)

C:\Users\George\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [17]:
filt_df2.drop(columns="Maximum Wind")

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Minimum Pressure,Low Wind NE,...,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW,Max_Wind
1981,AL011871,UNNAMED,18710604,600,,Tropical Storm,28.9,-95.0,999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,57.5390
3825,AL021880,UNNAMED,18800813,0,,Hurricane,25.7,-96.9,931,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,149.6014
3826,AL021880,UNNAMED,18800813,100,Landfall,Hurricane,25.8,-97.0,931,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,149.6014
3827,AL021880,UNNAMED,18800813,600,,Hurricane,26.1,-97.6,943,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,126.5858
4275,AL021882,UNNAMED,18820907,0,,Hurricane,22.6,-85.8,981,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,92.0624
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48794,AL022015,BILL,20150616,0,,Tropical Storm,27.0,-94.3,1005,140,...,0,0,0,0,0,0,0,0,0,51.7851
48795,AL022015,BILL,20150616,600,,Tropical Storm,27.6,-95.2,1001,130,...,0,0,0,0,0,0,0,0,0,51.7851
48796,AL022015,BILL,20150616,1200,,Tropical Storm,28.0,-96.0,997,130,...,30,20,20,0,0,0,0,0,0,57.5390
48797,AL022015,BILL,20150616,1645,Landfall,Tropical Storm,28.2,-96.7,997,130,...,30,20,20,0,0,0,0,0,0,57.5390
48798,AL022015,BILL,20150616,1800,,Tropical Storm,28.2,-96.7,997,130,...,30,20,20,0,0,0,0,0,0,57.5390

In [18]:
max_wind = filt_df2["Max_Wind"].agg(["min", "max", "var", "std", "mean"])
print(max_wind)
filt_df2["Max_Wind"].mode()

min       11.507800
max      189.878700
var     1207.164307
std       34.744270
mean      63.058472
Name: Max_Wind, dtype: float64

0    34.5234
dtype: float64

In [19]:
min_pressure = filt_df2["Minimum Pressure"].agg(["min", "max", "var", "std", "mean"])
print(min_pressure)
filt_df2["Minimum Pressure"].mode()

min      888.000000
max     1014.000000
var      507.382934
std       22.525162
mean     990.367587
Name: Minimum Pressure, dtype: float64

0    1006
dtype: int64

In [20]:
wind_deg = filt_df2[(filt_df2["Low Wind NE"]>0)&(filt_df2["Low Wind SE"]>0)&(filt_df2["Low Wind SW"]>0)&(filt_df2["Low Wind NW"]>0)]
wind_deg

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW,Max_Wind
43153,AL022004,BONNIE,20040809,1200,,Tropical Storm,22.5,-87.6,35,1008,...,25,0,0,0,0,0,0,0,0,40.2773
43154,AL022004,BONNIE,20040809,1800,,Tropical Storm,22.9,-88.3,40,1007,...,25,0,0,0,0,0,0,0,0,46.0312
43155,AL022004,BONNIE,20040810,0,,Tropical Storm,23.1,-89.0,45,1006,...,25,0,0,0,0,0,0,0,0,51.7851
43156,AL022004,BONNIE,20040810,600,,Tropical Storm,23.4,-89.8,45,1005,...,25,0,0,0,0,0,0,0,0,51.7851
43157,AL022004,BONNIE,20040810,1200,,Tropical Storm,24.0,-90.6,50,1002,...,25,15,15,15,15,0,0,0,0,57.5390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48352,AL102013,INGRID,20130916,1200,,Tropical Storm,23.7,-97.8,55,991,...,30,30,20,0,0,0,0,0,0,63.2929
48390,AL122013,KAREN,20131003,1200,,Tropical Storm,22.1,-87.4,55,1004,...,60,40,20,0,40,0,0,0,0,63.2929
48391,AL122013,KAREN,20131003,1800,,Tropical Storm,22.8,-88.1,55,1001,...,60,60,40,0,40,0,0,0,0,63.2929
48392,AL122013,KAREN,20131003,2100,P,Tropical Storm,23.3,-88.5,55,998,...,60,60,40,0,40,0,0,0,0,63.2929
48396,AL122013,KAREN,20131004,1800,,Tropical Storm,25.8,-90.2,45,1002,...,20,0,0,0,0,0,0,0,0,51.7851

In [21]:
wind_deg["Status"].value_counts()

 Hurricane                            163
 Tropical Storm                       135
 Low Intensity Subtropical Cyclone      1
Name: Status, dtype: int64

In [22]:
wind_deg.describe()

,Date,Time,Latitude,Longitude,Maximum Wind,Minimum Pressure,Low Wind NE,Low Wind SE,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW,Max_Wind
count,2.990000e+02,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000
mean,2.008372e+07,924.799331,22.878261,-90.517726,74.882943,974.123746,118.110368,105.819398,70.919732,92.207358,55.969900,44.314381,30.752508,41.638796,26.789298,21.120401,14.080268,19.414716,86.173793
std,2.931359e+04,679.615683,3.240810,4.634571,29.453689,27.538406,61.566719,57.225395,40.647943,51.396379,45.732984,40.520293,30.109180,39.166954,32.246311,28.734474,20.127286,25.878691,33.894716
min,2.004081e+07,0.000000,18.000000,-100.000000,35.000000,897.000000,10.000000,10.000000,10.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,40.277300
25%,2.005092e+07,380.000000,19.900000,-95.050000,55.000000,958.000000,60.000000,60.000000,30.000000,45.000000,20.000000,2.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,63.292900
50%,2.008091e+07,1200.000000,22.700000,-90.000000,65.000000,984.000000,120.000000,100.000000,60.000000,80.000000,50.000000,30.000000,25.000000,30.000000,15.000000,0.000000,0.000000,0.000000,74.800700
75%,2.011063e+07,1722.500000,25.250000,-86.300000,90.000000,995.000000,175.000000,150.000000,100.000000,140.000000,100.000000,75.000000,60.000000,70.000000,50.000000,35.000000,20.000000,32.500000,103.570200
max,2.013100e+07,2200.000000,29.000000,-83.100000,155.000000,1008.000000,240.000000,250.000000,175.000000,200.000000,175.000000,160.000000,100.000000,140.000000,110.000000,90.000000,75.000000,90.000000,178.370900

In [23]:
print(wind_deg.groupby("Status").mean()["Max_Wind"])
print(wind_deg.groupby("Status").max()["Max_Wind"])
print(wind_deg.groupby("Status").min()["Max_Wind"])
# print(wind_deg.groupby("Status")["Max_Wind"].agg(pd.Series.mode))

Status
 Hurricane                            109.924200
 Low Intensity Subtropical Cyclone     57.539000
 Tropical Storm                        57.709486
Name: Max_Wind, dtype: float64
Status
 Hurricane                            178.3709
 Low Intensity Subtropical Cyclone     57.5390
 Tropical Storm                        80.5546
Name: Max_Wind, dtype: float64
Status
 Hurricane                            74.8007
 Low Intensity Subtropical Cyclone    57.5390
 Tropical Storm                       40.2773
Name: Max_Wind, dtype: float64

In [59]:
print(wind_deg.groupby("Status").mean()["Minimum Pressure"])
print(wind_deg.groupby("Status").max()["Minimum Pressure"])
print(wind_deg.groupby("Status").min()["Minimum Pressure"])

Status
 Hurricane                            956.079755
 Low Intensity Subtropical Cyclone    993.000000
 Tropical Storm                       995.770370
Name: Minimum Pressure, dtype: float64
Status
 Hurricane                             995
 Low Intensity Subtropical Cyclone     993
 Tropical Storm                       1008
Name: Minimum Pressure, dtype: int64
Status
 Hurricane                            897
 Low Intensity Subtropical Cyclone    993
 Tropical Storm                       975
Name: Minimum Pressure, dtype: int64

In [25]:
wind_deg.groupby("Status").agg(lambda x:x.value_counts().index[0])

,ID,Name,Date,Time,Event,Latitude,Longitude,Maximum Wind,Minimum Pressure,Low Wind NE,...,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW,Max_Wind
Status,,,,,,,,,,,,,,,,,,,,,
Hurricane,AL252005,WILMA,20080723,0,,19.7,-85.8,85,930,175,...,150,100,30,30,30,30,0,0,75,97.8163
Low Intensity Subtropical Cyclone,AL132011,LEE,20110903,1200,,29.0,-92.0,50,993,200,...,100,120,0,0,0,0,0,0,0,57.5390
Tropical Storm,AL022004,BONNIE,20110630,1200,,20.0,-91.7,55,998,60,...,60,0,0,0,0,0,0,0,0,63.2929

In [67]:
       
# wind_deg["Storm_Wind"] = ["NA" if x <=40 else "TS" if x <=55 else "LS" if x <=70 else "HU" for x in wind_deg["Max_Wind"]]
# wind_deg["Storm_Pre"] = ["NA" if x <= else "TS" if x <=895 else "LS" if x <=956 else "HU" for x in wind_deg["Minimum Pressure"]]                        
# wind_deg

In [ ]:
wind_deg.to_csv("./CSV_Output/hurdata.csv", index=False)")